.todoList_wrapper {
  position: relative;
}

.todoList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
  min-height: 500px;
  margin: 15px;
  padding: 10px;
  overflow-wrap: break-word;
  border: 1px double darkgray;
  border-radius: 10px;
  background-color: rgba(248, 248, 255, 0.9)
}