.list_header_title__input {
  margin: 21px 11px;
  text-align: center;
}

.error {
  border-color: red;
}

.list_header_title {
  margin: 20px 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  position: relative;
}