.list_header {
    margin-bottom: 20px;
}

.list_header_add_form {
    display: flex;
    justify-content: center;
    position: relative;
}

.delete_button {
    position: absolute;
    top: -5px;
    right: -7px;
    padding: 0 5px;
    color: rgb(85, 47, 11)
}

.delete_button:hover {
    color: mediumvioletred;
    cursor: pointer;
}

.delete_button:active {
    outline: none;
}