.todoList_task {
  margin: 10px;
}

.taskIsDone {
  opacity: 0.5;
}

.delete_button {
  border: none;
  margin: 0;
  padding: 0;
  background: inherit;
  color: rgb(85, 47, 11);
}

.delete_button:hover {
  color: mediumvioletred;
  cursor: pointer;
}

.isDoneCheck {
  cursor: pointer;
}