.app {
  padding: 10px;
}
.app_lists {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.todoList {
  width: 285px;
  margin: 10px;
}

.todoList > div {
  padding: 10px;
}

.delete_list:hover {
  background: pink;
}

.todoList-task {

}

.inProgress {
  display: flex;
}

.addTaskInProgress {
  margin-top: 20px;
}

.filter-active {
  background-color: yellowgreen;
}

.priorityLow {
  color:  rgb(15, 162, 13);
}

.priorityMedium {
  color: darkgoldenrod;
}

.priorityHigh {
  color: crimson;
}

.error {
	border-color: red;
}

 .taskIsDone {
   opacity: 0.5;
 }