.app {
  padding: 10px;
  min-height: 100vh;
  background-image: url('./Assets/img/navigation.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.todoList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
  min-height: 500px;
  margin: 10px;
  padding: 10px;
  overflow-wrap: break-word;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: ghostwhite;
}

.app_title {
  color: white;
  text-decoration: none;
  margin-right: 3em;
}

.app_header h2 {
  display: flex;
  align-items: center;
}

.app_title:hover{
  text-decoration: underline;
  color: white;
}

.app_title.active {
  text-decoration: underline;
  color: white;
}

.app_title img {
  margin-right: 10px;
  height: 50px;
}

.app_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_header_title {
  margin: 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.list_header_add_form {
  display: flex;
  justify-content: center;
}

.app_header_navigation {
  display: flex;
  justify-content: center;
}

.app_header_navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50%;
  padding-inline-start: 0;
  padding-right: 35px;
  color: white;
}

.app_header_navigation li {
  margin-left: 35px;
  margin-bottom: 5px;
}

.app_header_navigation a {
  overflow-wrap: break-word;
  text-decoration: none;
  font-style: italic;
  color: white;
}

.app_header_navigation a:hover {
  text-decoration: underline;
}

.app_header_navigation a.active {
  text-decoration: underline;
} 

.app_lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.list_header {
  margin-bottom: 20px;
}

.list_header_title__input {
  margin: 11px;
  text-align: center;
}

.todoList-newTaskForm {
  text-align: center;
}

.todoList-newTaskForm button:hover {
  background-color: yellowgreen;
}

.delete_button:hover {
  background: pink;
}

.todoList-tasks {
  margin: 10px;
}

.filter-active {
  background-color: yellowgreen;
}

.error {
  border-color: red;
}

.taskIsDone {
  opacity: 0.5;
}

.Low {
  color: rgb(15, 162, 13);
}

.Middle {
  color: rgb(169, 171, 34);
}

.High {
  color: rgb(147, 112, 219);
}

.Urgent {
  color: crimson
}

.Later {
  color: grey
}

.filter_buttons {
  text-align: center;
}

.tasksPagesLinks {
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid yellowgreen;
  border-radius: 5px;
  background-color: lightgoldenrodyellow;
}

.pageLink {
  margin: 0 8px;
  text-decoration: none;
  color: black;
}

.pageLink:hover {
  background-color: rgb(171, 228, 55);
}

span.active {
  background-color: rgb(171, 228, 55);
}